core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
template_instructions.md
outputs/v1
outputs/v2
outputs/v3
outputs/v4/best_model.h5